body{
    margin: 0;
    padding: 0;
}
.form{
    background-color: lightgray;
    margin: 0 auto;
    width: 50%;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 200px;
}
div{
    margin-bottom: 10px;
}
.titreform{
    text-align: center;
    border-bottom: 1px solid black;
}
button{
    border-radius: 3px;
    background-color: grey;
    color: white;
    height: 50px;
    width: 100px;
}